<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">

        @* <div class="page-content"> *@
        <div class="margin-bottom">
            <div class="flex" id="top-bar-div">
                <div class="flex-1" id="app-title-div">
                    <h1 class="app-title">
                        <i class="fa-solid fa-people-simple"></i>Smart Contacts Manager
                    </h1>
                </div>
            </div>
        </div>
        @* </div> *@

        <div class="navbar">
            <div class="navbar-brand">
                <img src="~/logo.png" width="25" asp-append-version="true" /> @* for updating new image in the wwwroot folder. *@
            </div>
            <div class="navbar account-links">



                <ul>

                    <li>
                        @* <div class="navbar account-links"> *@
                            @* FOR NAV-ACTIVE LINK *@
                        @if (ViewBag.CurrentUrl == "~/Persons/Index")
                        {
                            <a asp-controller="Persons" asp-action="Index" class="nav-active">Persons</a>
                        }
                        else
                        {
                            <a asp-controller="Persons" asp-action="Index">Persons</a>
                        }

                        @if (ViewBag.CurrentUrl == "~/Countries/UploadFromExcel")
                        {
                            <a asp-controller="Countries" asp-action="UploadFromExcel" class="nav-active">Upload Countries</a>
                        }
                        else
                        {
                            <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
                        }
                        @* FOR NAV-ACTIVE LINK *@

                        @* <div class="account-links-right">
                        <a asp-controller="Account" asp-action="Register">REGISTER</a>
                        <a asp-controller="Account" asp-action="Login">LOGIN</a>
                        </div> *@
                        @* </div> *@
                    </li>

                </ul>

                <ul>


                    @* for login/logout functionality *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @User.Identity?.Name
                        </li>
                        <li><a asp-controller="Account" asp-action="Logout">LOGOUT</a></li>
                    }
                    else
                    {
                        <li>
                            @* FOR NAV-ACTIVE LINK *@
                            @if (ViewBag.CurrentUrl == "~/Account/Register")
                            {

                                <a asp-controller="Account" asp-action="Register" class="nav-active">REGISTER</a>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Register">REGISTER</a>
                            }

                            @if (ViewBag.CurrentUrl == "~/Account/Login")
                            {
                                <a asp-controller="Account" asp-action="Login" class="nav-active">LOGIN</a>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Login">LOGIN</a>
                            }
                            @* FOR NAV-ACTIVE LINK *@
                        </li>
                    }
                    @* for login/logout functionality *@


                </ul>


            </div>

            @* <div class="navbar account-links">
            <ul>

            </ul>
            </div> *@
        </div>
    </div>



    <div class="page-content">
        @RenderBody()
    </div>


    </div>
    @RenderSection("scripts", required:false);
</body>
</html>
